  <div class="container">
    <div class="row">
      <div class="card-group">
      <% posts.each do |post| %>
      <div class="col-6 col-md-4 col-lg-3">
        <div id="post_<%= post.id %>">
          <%= link_to post_path(post.id) do %>

              <div class="card">
                <%= render 'public/posts/post', post: post %>
              </div>

          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>