<% posts.each do |post| %>
  <div id="post_<%= post.id %>">
    <%= link_to post_path(post.id) do %>
      <div class = "card">
        <%= render 'public/posts/post', post: post %>
      </div>
    <% end %>
  </div>
<% end %>