<h4>
  <% if params[:favorite_id].present? %>
    お気に入り一覧
  <% elsif params[:visit_id].present? %>
    訪問済み一覧
  <% elsif params[:keyword].present? %>
    検索結果
  <% else %>
    タイムライン
  <% end %>
</h4>

<%= render 'list', posts:@posts %>