<h5 class="text-center mb-3">ユーザ一覧</h5>
  <table cellpadding="5" class="mx-auto">
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= user.last_name %> <%= user.first_name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_deleted %>
            <span class="text-secondary font-weight-bold">退会</span>
          <% elsif %>
            <span class="text-success font-weight-bold">有効</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
